.products-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
    margin: 0 50px;
}
.product-container {
    padding-top: 50px;
    padding-right: 45px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
}
.order-summary {
    background: rgba(255, 153, 0, 0.3);
}
.review-order-btn {
    padding: 10px;
    width: 100%;
    border: 0;
    background-color: rgb(194, 9, 9);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 15px;
}